<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/programacion_tp3?createDatabaseIfNotExist=true&amp;verifyServerCertificate=false&amp;useSSL=true</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.dialect.storage_engine">innodb</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        
        <mapping class="entidad.Empleado" />
        <mapping class="entidad.Legajo" />
        <mapping class="entidad.Licencia" />
        <mapping class="entidad.Requerimiento" />
        <mapping class="entidad.Rol" />
        <mapping class="entidad.Sector" />
        <mapping class="entidad.Tarea" />
        <mapping class="entidad.TipoLicencia" />
        <mapping class="entidad.RqPorEmpleado" />
    </session-factory>
</hibernate-configuration>